.customHeader {
    background-color: #5AC8FF;
    font-weight: bold;
}

.customRow {
    background-color: #f0f4f8;
}

.customRowOdd {
    background-color: #F2FBFF;
}

.customCell {
    text-align: center;
}

.customCellFirstColumn {
    background-color: #DCF4FF;
    width: 40%;
}

.customCellFirstColumnOddRow {
    background-color: #DCF4FF;
    width: 40%;
}